.ag-theme-alpine {
  height: 35rem;
}

.center {
  margin: auto;
  padding: 0;
}

.ag-header-cell-text {
  font-size: 20px;
}

.ag-cell {
  font-family: "Arial", Arial, serif;
  font-size: 18px;
}

.ag-row-hover {
  background-color: #dfdfff !important;
}