.ag-theme-alpine {
  height: 35rem;
  border: black 1px solid;
  border-radius: 6px;
}

.center {
  margin: auto;
  padding: 0;
}

.ag-header-cell-text {
  font-size: 16px;
}

.ag-cell {
  font-family: "Arial", Arial, serif;
  font-size: 14px;
}

.ag-row-hover {
  background-color: #dfdfff !important;
}

@media screen and (max-width: 800px) {
  .ag-header-cell-text {
    font-size: 14px;
  }

  .ag-cell {
    font-size: 12px;
  }
}