.stock-card-wrapper {
    flex: 0 1 10%;
    min-width: 150px;
    margin-bottom: 1rem;
    margin-left: 1rem;
    
    .MuiCard-root {
        height: 9rem;
        border-radius: 10px;

        .MuiCardContent-root {
            padding: 10px;
        }

        .card-ticker {
            font-size: 18px;
            font-weight: bold;
        }

        .card-full-name {
            font-size: 12px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .card-details {
            font-size: 12px;
        }
    }

    .MuiCard-root:hover {
        cursor: pointer;
    }

}

@media screen and (max-width: 800px) {
    .stock-card-wrapper {
        min-width: 80px !important;
        margin-bottom: 1rem;

        .MuiCard-root {
            height: 5rem !important;

            .card-full-name {
                display: none !important;
            }

            .card-details {
                // display: none !important;
                font-size: 10px;
            }
        }
    }
}