.most-active-stocks-tabs-section {
  display: flex;
  flex-grow: 1;
  background-color: #fff;
  width: 100%;
  height: 12rem;

  #vertical-tabpanel-0 {
    width: 100%;
  }

  #vertical-tabpanel-1 {
    width: 100%;
  }
  
  #vertical-tabpanel-2 {
    width: 100%;
  }

  .MuiTabs-root.MuiTabs-vertical {
    min-width: 80px;

    .MuiTabs-scroller.MuiTabs-scrollable {
      border-right: 1px solid rgb(197, 197, 197);

      .MuiTabs-flexContainer {
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        .MuiButtonBase-root.MuiTab-root.MuiTab-textColorInherit.Mui-selected {
          // background-color: #04f0d8;
        }
    
        .MuiTab-root {
          padding: 6px 0px;
        }
      }
    }
  }

  @media (max-width: 600px) {
    .MuiTab-root {
      min-width: 80px;
    }
  }

  .MuiTabScrollButton-vertical {
    max-height: 1rem;
  }

  .vertical-tabpanel-content {
    width: 100%;
    padding: 0.3rem;
    max-height: 12rem;
    overflow-y: scroll;

    position: relative;
    top: 50%;
    transform: translateY(-50%);

    .cards-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 1rem 0 1rem;
    }
  }
}