.most-active-stocks-tabs-section {
  display: flex;
  flex-grow: 1;
  background-color: #fff;
  width: 100%;
  height: 21rem;

  #vertical-tabpanel-0 {
    width: 100%;
  }

  #vertical-tabpanel-1 {
    width: 100%;
  }

  #vertical-tabpanel-2 {
    width: 100%;
  }

  .MuiTabs-root.MuiTabs-vertical {
    min-width: 120px;

    .MuiTabs-scroller.MuiTabs-scrollable {
      border-right: 1px solid rgb(197, 197, 197);

      .MuiTabs-flexContainer {
        margin-top: 1.5rem;

        .MuiButtonBase-root.MuiTab-root.MuiTab-textColorInherit.Mui-selected {
          // background-color: #dfdfff;
        }

        .MuiTab-root {
          padding: 2rem 0 2rem 0;
          min-width: auto;
        }
      }
    }
  }


  .MuiTabScrollButton-vertical {
    max-height: 1rem;
  }

  .vertical-tabpanel-content {
    width: 100%;
    padding: 0.3rem;
    max-height: 21rem;
    overflow-y: auto;

    position: relative;
    top: 50%;
    transform: translateY(-50%);

    .cards-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 1rem 1rem 0rem 1rem
    }
  }
}

@media (max-width: 600px) {
  .MuiTabs-root.MuiTabs-vertical {
    min-width: 80px !important;

    .MuiTab-root {
      min-width: 50px;

      span.MuiTab-wrapper {
        font-size: 10px;
      }
    }
  }
}
