.loader-wrapper {
    text-align: center;
    margin-top: 120px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    .MuiCircularProgress-root {
        height: 60px !important;
        width: 60px !important;
    }
}