.layout-wrapper {
    .header-wrapper {}

    .notification-bar-wrapper {
        .MuiAlert-root {
            margin: auto;
            width: 92%;
            margin-bottom: 20px;
        }
    }

    .accordion-wrapper {
        margin-left: 2.5%;
        width: 95%;

        .MuiAccordion-root {
            // border: black 1px solid;
            border-radius: 8px;

            .MuiAccordionSummary-root {
                background-color: #dfdfff;
                // background-color: #bb86fc;
                // background-color: #03dac6;
                border-radius: 8px 8px 0 0;

                .MuiAccordionSummary-content {

                    .accordion-heading {
                        font-size: 1.2rem;
                        font-weight: bold;
                        flex-basis: 33.33%;
                        flex-shrink: 0;
                    }

                    .second-heading-wrapper {
                        text-align: center;

                        .accordion-second-heading {
                            font-size: 1rem;
                            color: rgba(0, 0, 0, 0.54);
                            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                            font-weight: 400;
                            line-height: 1.5;
                            letter-spacing: 0.01em;
    
                            .days-dropdown {
                                min-width: 50px;
                                margin-left: 5px;
    
                                .MuiInputBase-root.MuiInput-root {
                                    max-height: 25px;
                                }
                            }
                        }
                    }
                }
            }

            #most-active-stock-panel-content {
                .MuiAccordionDetails-root {
                    padding: 0.2rem 0.4rem 0.4rem;
                }
            }
        }

        .most-active-stocks-tabs-wrapper {
            // min-height: 200px;
            width: 100%;
        }

        .data-grid-wrapper {}

        .stock-figure-wrapper {
            height: auto;
            min-height: 300px;
            width: 100%;
        }
    }

    .info-container {
        .info-version {
            z-index: 1000;
            position: fixed;
            color: #00203FFF;
            font-size: small;
            right: 5px;
            bottom: 20px;
            margin-bottom: 5px;
        }

        .info-update-date {
            z-index: 1000;
            position: fixed;
            color: #00203FFF;
            font-size: small;
            right: 5px;
            bottom: 5px;
            margin-bottom: 5px;
        }
    }
}


/* !important is needed sometimes */
::-webkit-scrollbar {
    width: 12px !important;
    -webkit-overflow-scrolling: auto
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
    background: #41617D !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5) !important;

}

::-webkit-scrollbar-thumb:window-inactive {
    background: #41617D !important;
}