.stock-figure-wrapper {
    padding-top: 3%;
}

.data-grid-wrapper {}

.layout-wrapper {}

.header {

    .title {
        color: white;
        font-size: x-large;
        text-align: center;
    }

    .ticker-input-section {
        margin-left: -20px;
        padding: 10px 20px 20px 0px !important;
        text-align: center;

        form .MuiFormControl-root {
            label {
                z-index: 100;
            }

            label.Mui-focused {
                color: white;
                z-index: 100;
            }

            .MuiInputBase-root {
                border-radius: 5px;
                background-color: white;

                input {
                    min-width: 50px;
                    border-radius: 5px;
                    max-width: 100px;
                }
            }
        }
    }
}