.loader-wrapper {
    margin-top: 10%;    
    text-align: center;

    .MuiCircularProgress-root {
        height: 60px !important;
        width: 60px !important;
    }
}

.chart-placeholder {
    text-align: center;

    p {
        font-size: 14px;
        font-weight: bold;
    }

    svg {
        color: #6951cc;
    }
}

.highlights {
    text-align: center;

    p {
        font-weight: bold;
    }
}